### Create a consolidation class for City data

In [71]:
import pandas as pd
import numpy as np
import os;os.listdir()
import warnings
warnings.filterwarnings('ignore')

In [72]:
os.listdir()

['.ipynb_checkpoints', 'Consolidator.ipynb', 'Datafiles', 'Manuals', 'Outputs']

In [73]:
# the variables that will be used

report_date = "Mon Mar 28 2022" # the date of the data
#weeks_data = pd.read_excel("ECD Dates.xlsx") # the week files
datadir = 'Datafiles'

# define income variables
#Income----------------------------------------------------------------------------------------------------------------------------------
income_cols = {'respondent_id':"firm_id",
               "name":"name",	"email":"email",	"phone_number":"phone_number", 
                        'income_report_data_id':'data_id',
                        'income_report_amount':'amount',
                        'income_report_currency':'currency',
                        'income_report_income_source_name':'reason_name',
                        'income_report_account':'account',
                        'income_report_date_received':'transaction_date',
                         'income_report_account_report_id':'transaction_id',
                        'income_report_transaction_type':'transaction_type',
                        'income_report_timeline':'timeline',
                        'income_report_payment_type':'payment_type',
                        'income_report_date_created':'date_created',
                        'income_report_last_updated':'date_last_updated',
                        'income_report_edit_count':'edit_count',
                        'income_report_surveyor':'surveyor',
                        'income_report_customer':'tool',
                        'income_report_description':'description',
                        "file":"file"}
#Expense -------------------------------------------------------------------------------------------------------------------------------
expense_cols= {'expense_report_account_report_id':'transaction_id',
                "name":"name",	"email":"email",	"phone_number":"phone_number", 
                            'expense_report_data_id':'data_id',
                        'expense_report_amount': 'amount',
                        'expense_report_currency':'currency',
                        'expense_report_reason':'reason_name',
                        'expense_report_account':'account',
                        'expense_report_date':'transaction_date',
                        'expense_report_transaction_type':'transaction_type',
                        'expense_report_timeline':'timeline',
                        'expense_report_payment_type':'payment_type',
                        'expense_report_date_created':'date_created',
                            'expense_report_last_updated':'date_last_updated',
                        'expense_report_edit_count':'edit_count',
                        'respondent_id':"firm_id",
                        'expense_report_surveyor':'surveyor',
                        'expense_report_vendor':'tool',
                        'expense_report_description':'description',"file":"file"}
# Savings -----------------------------------------------------------------------------------------------------------------------------------
savings_col = {         'respondent_id':"firm_id",
                "name":"name",	"email":"email",	"phone_number":"phone_number", 
                        'account_report_data_id':'data_id',
                        'account_report_amount':'amount',
                        'account_report_currency':'currency',
                        'account_report_account_name':'account',
                        'account_report_deposit/withdrawal':'reason_name',
                        'account_report_date':'transaction_date',
                        'account_report_data_type':'transaction_type',
                        'account_report_date_created':'date_created',
                        'account_report_last_updated':'date_last_updated',
                        'account_report_edit_count':'edit_count',
                        'account_report_surveyor':'surveyor',                
                       "file":"file",
                        'account_report_description':'description'}
# Repayments -------------------------------------------------------------------------------------------------------------------------------------------
repayment_col ={                'respondent_id':"firm_id",
                 "name":"name",	"email":"email",	"phone_number":"phone_number", 
                                'loan_taken_repayment_report_data_id':'data_id',
                                'loan_taken_repayment_report_repaid_amount':'amount',
                                'loan_taken_repayment_report_currency':'currency',
                                'loan_taken_repayment_report_source_name':'reason_name',
                                "loan_taken_repayment_report_account":'account',
                                'loan_taken_repayment_report_account_report_id':'transaction_id',
                                'loan_taken_repayment_report_date_paid':'transaction_date',
                                'loan_taken_repayment_report_date_created':'date_created',
                                'loan_taken_repayment_report_last_updated':'date_last_updated',
                                'loan_taken_repayment_report_edit_count':'edit_count',
                                'loan_taken_repayment_report_description':'description',
                                'loan_taken_repayment_report_surveyor':'surveyor',
                                "file":"file"}
# Loan Given ----------------------------------------------------------------------------------------------------------------------------------------------
given_col = {'respondent_id':"firm_id",
              "name":"name",	"email":"email",	"phone_number":"phone_number",
    'loan_given_repayment_report_description':'description',
                                'loan_given_repayment_report_data_id':'data_id',
                                'loan_given_repayment_report_account_report_id':'transaction_id',
                                'loan_given_repayment_report_repaid_amount':'amount',
                                'loan_given_repayment_report_currency':'currency',
                                'loan_given_repayment_report_source_name':'reason_name',
                                "loan_given_repayment_report_account":'account',
                                'loan_given_repayment_report_date':'transaction_date',
                                'loan_given_repayment_report_date_created':'date_created',
                                'loan_given_repayment_report_last_updated':'date_last_updated',
                                'loan_given_repayment_report_edit_count':'edit_count',
                                'loan_given_repayment_report_surveyor':'surveyor',"file":"file"}
#Employee ------------------------------------------------------------------------------------------------------------------------

# employee_col={                          'employee_payment_amount':'amount','respondent_id':'respondent_id','sector_type':'sector_type', 'gender':'gender', 'country_of_residence':'country_of_residence',
#                                         'firm_id':'firm_id',
#                                         'employee_payment_data_id':'data_id',
#                                         'employee_payment_currency':'currency',
#                                         'employee_payment_employee_name':'reason_name',
#                                         'employee_payment_type':'type',
#                                         'employee_payment_account':'account',
#                                         'employee_payment_transaction_type':'transaction_type',
#                                         'employee_payment_date':'transaction_date',
#                                         'employee_payment_date_created':'date_created',
#                                         # 'employee_payment_edit_count':'edit_count',
#                                         'employee_payment_surveyor':'surveyor','file':'file'}
# loantaken ----------------------------------------------------------------------------------------------------------------------------

taken_col={                               'loan_taken_data_id':'data_id','respondent_id':"firm_id",
          # 'sector_type':'sector_type', 
           'gender':'gender', 'city_of_residence':'city_of_residence',
            "name":"name",	"email":"email",	"phone_number":"phone_number",
                                        'loan_taken_name':'reason_name',
                                        'loan_taken_loan_type':'type',
                                        'loan_taken_description':'description',
                                        'loan_taken_payment_schedule':'payment_schedule',
                                        'loan_taken_amount_taken':'original_amount',
                                        'loan_taken_account':'account',
                                        'loan_taken_repayment_amount':'repaid_amount',
                                        'loan_taken_date':'transaction_date',
                                        'loan_taken_remaining_amount':'remaining_amount',
                                        'loan_taken_edit_count':'edit_count',
                                        'loan_taken_surveyor':'surveyor',"file":"file"}
# loangiven ----------------------------------------------------------------------------------------------------------------------------------
lgiven_col={                           'loan_given_data_id':'data_id','respondent_id':"firm_id",
            #'sector_type':'sector_type',
            'gender':'gender', 'city_of_residence':'city_of_residence',
             "name":"name",	"email":"email","phone_number":"phone_number",
                                        'loan_given_name':'reason_name',
                                        'loan_given_description':'description',
                                        'loan_given_payment_schedule':'payment_schedule',
                                        'loan_given_amount_given':'original_amount',
                                        'loan_given_repayment_amount':'repaid_amount',
                                        'loan_given_account':'account',
                                        'loan_given_date':'transaction_date',
                                        'loan_given_remaining_amount':'remaining_amount',
                                        'loan_given_edit_count':'edit_count',
                                        'loan_given_surveyor':'surveyor',"file":"file"}

In [74]:
import numpy as np

weeks = ["Week "+str(i) for i in list(range(1,21))]
# def time_function(date):
#     dates = weeks_data
#     dates.columns = ['weeks', 'start_date', 'end_date']
#     #dates["start_date"] = [str(i) for i in dates["start_date"]]
#     #dates["end_date"]   = [str(i) for i in dates["end_date"]]
#     try:
#         for i,j in zip(dates["start_date"],dates["end_date"]):
#             if i<=date<=j:
#                 dt = dates[(dates['start_date']==i) & (dates['end_date']==j)]

#             else:
#                 pass
#         return list(dt['weeks'])[0]
#     except:
#         return "check"


def cleaner(data):
        data.columns = [str(i) for i in data.columns]
        data.columns=data.columns.str.replace(' ','_')
        data.columns=data.columns.str.lower()
        #data.respondent_id = data.respondent_id.str.upper()
        return data
def week_date():
    df = consolidated.groupby(['firm_id', 'week']).\
        agg(start = ('transaction_date', 'min'), 
            end = ('transaction_date', 'max')).reset_index()
    return(df)
def week_date1():
    df = consolidated.groupby(['firm_id']).\
        agg(start = ('transaction_date', min), 
            end = ('transaction_date', 'max')).reset_index()
    return(df)
def add_ls():
    loan_schedule.week=''
    df = loan_schedule.merge(week_dates1, how='inner', on='firm_id')
    df.week = np.where(df.transaction_date<df.start, 'before_start', df.week)
    ls1=df[df.week=='before_start']# loans taken before the start of the study
    df=df[df.week!='before_start'].copy()# remove the above loans
    df = df.merge(week_dates, how='inner', on=['firm_id'])# merges loan data and possible weeks
    print(len(df.firm_id.unique()), len(ls1.firm_id.unique()), 
    len(loan_schedule.firm_id.unique()))
    df.week_x = np.where((df.transaction_date>=df.start_y) &
                (df.transaction_date<=df.end_y),df.week_y, 'check')# check  =  not found
    df[['firm_id', 'reason_name','transaction_date', 
        'start_y','end_y','week_x']]
    ls2 = df[df.week_x!='check'].drop_duplicates()# all matched loans less those not matched
    ls2['week']=ls2.week_x
    ls2['frame'] = 'ls2'
    ls3 = df[df.week_x=='check'].drop_duplicates(subset=['firm_id',
    'reason_name'])
    print(len(ls2), len(ls3))
    ls3 = ls3.merge(ls2[['firm_id','reason_name','frame']], how = 'left',
                    on = ['firm_id','reason_name'])
    ls3 = ls3[ls3.frame.isnull()==True]
    ls3['week']=ls3.week_x
    ls3=ls3.drop(['frame','start_x', 'end_x', 'week_y','week_y',
                    'start_y', 'end_y'], axis=1)
    ls2=ls2.drop(['frame','start_x', 'end_x', 'week_y','week_y',
                    'start_y', 'end_y'], axis=1)
    print(len(ls1),len(ls2), len(ls3))
    ls = ls1.append([ls2,ls3]).copy()
    ls['frame'] = 'ls'
    len(ls)

    df = loan_schedule.merge(ls[['firm_id','reason_name','frame']],
            how='left', on = ['firm_id','reason_name']).copy()
    ls4 = df[df.frame.isnull()==True]
    ls4 = ls4.drop('frame', axis=1)
    print(len(ls1),len(ls2), len(ls3), len(ls4))
    ls = ls.append(ls4).copy()
    ls['amount'] = ls.original_amount
    print(len(ls), len(loan_schedule))
    return(ls)

class Consolidator:
    def __init__(self,report_date,
                # weeks_data,
                 income,expense,savings,repayments,given,
                # employee,
                 taken,lgiven):
        self.report_date = report_date
        #self.week_data = weeks_data
        self.income = income
        self.expense = expense
        self.savings = savings  
        self.repayment = repayments
        self.given = given
        #self.employee = employee
        self.loantaken = taken
        self.loangiven = lgiven

    def income_normalize(self):
        data = self.income.copy()
        data = cleaner(data)
        data['file']='income'
        data1 = data[list(income_cols.keys())].copy()
        data1=data1.rename(columns=income_cols)
        print(f"Normalized income shape:{data1.shape}")
        return  data1
    def expense_normalize(self):
        data = self.expense.copy()
        data = cleaner(data)
        data['file']='expense'
        data1 = data[list(expense_cols.keys())].copy()
        data1=data1.rename(columns=expense_cols)
        print(f"Normalized expense shape:{data1.shape}")
        return  data1
    def savings_normalize(self):
        data = self.savings.copy()
        data = cleaner(data)
        data['file']='savings'
        data1 = data[list(savings_col.keys())].copy()
        data1=data1.rename(columns=savings_col)
        print(f"Normalized savings shape:{data1.shape}")
        return  data1
    def repayment_normalize(self):
        data = self.repayment.copy()
        data = cleaner(data)
        data['file']='loans_taken_repayment'
        data1 = data[list(repayment_col.keys())].copy()
        data1=data1.rename(columns=repayment_col)
        print(f"Normalized loans_taken_repayment_repayments shape:{data1.shape}")
        return  data1
    def given_normalize(self):
        data = self.given.copy()
        data = cleaner(data)
        data['file']='loans_given_repayment'
        data1 = data[list(given_col.keys())].copy()
        data1=data1.rename(columns=given_col)
        print(f"Normalized loans_given_repayment_repayments shape:{data1.shape}")
        return  data1
    def employee_normalize(self):
        data = self.employee.copy()
        data = cleaner(data)
        data['file']='expense'
        data1 = data[list(employee_col.keys())].copy()
        data1=data1.rename(columns=employee_col)
        print(f"Normalized employee payments shape:{data1.shape}")
        return  data1
    def loantaken_normalize(self):
        data = self.loantaken.copy()
        data = cleaner(data)
        data['file']='loans_taken'
        data1 = data[list(taken_col.keys())].copy()
        data1=data1.rename(columns=taken_col)
        data1 = data1.drop_duplicates(subset=['firm_id','reason_name'],  keep='first')
        print(f"Normalized Loan taken shape:{data1.shape}")
        return  data1
    def loangiven_normalize(self):
        data = self.loangiven.copy()
        data = cleaner(data)
        data['file']='loans_taken'
        data1 = data[list(lgiven_col.keys())].copy()
        data1=data1.rename(columns=lgiven_col)
        data1 = data1.drop_duplicates(subset=['firm_id','reason_name'],  keep='first')
        print(f"Normalized Loan given shape:{data1.shape}")
        return  data1

## <font color = "darkgreen">Consolidate for All Cities</font>

In [84]:

def consolidator_city():
        
        consol = Consolidator(report_date = report_date,
                #weeks_data = weeks_data,
                income = income,
                expense = expense,
                savings = savings,
                repayments = repayments,
                given  = given,
                #employee = employee,
                taken = taken,
                lgiven = lgiven)

        data = [
                consol.income_normalize(),
                consol.expense_normalize(),
                consol.savings_normalize(),
                consol.repayment_normalize(),
                consol.given_normalize(),
                #consol.employee_normalize()
                ]
        consolidated = pd.concat(data);print(consolidated.shape)
        consolidated.head()
        consolidated.transaction_type = np.where((consolidated.file=='savings'),'cash',
                                        consolidated.transaction_type)
        consolidated.file = np.where((consolidated.file=='savings') & 
        (consolidated.reason_name=='Deposited'), 'savings_deposit', consolidated.file)
        consolidated.file = np.where((consolidated.file=='savings') & 
        (consolidated.reason_name=='Withdrawn'), 'savings_withdrawal', consolidated.file)

        # load data
        data = [consol.loantaken_normalize()] #adding consol.loantaken_normalize()] gives an error
        loan_schedule = pd.concat(data)
        loan_schedule = loan_schedule.drop(["repaid_amount","remaining_amount"],1)
        loan_schedule = loan_schedule.rename(columns = {"original_amount":"amount"})
        consolidated = consolidated.append(loan_schedule, sort=False)

        # further cleaning
        consolidated["transaction_date"] = pd.DatetimeIndex(consolidated["transaction_date"])
        consolidated["week"] = ["Week "+ str(i.isocalendar()[1]) for i in consolidated["transaction_date"]]
        consolidated = consolidated[['firm_id', 'city_of_residence','data_id','amount','currency',
                                'transaction_date','account','reason_name','description', 'file',"week","name","email","phone_number"]]
        consolidated.head()

        # finalizing teh consolidation 

        file_lst = ['expense', 'savings_deposit', 'loans_taken_repayment','loans_given']

        consolidated['amount1'] = np.where(consolidated.file.isin(file_lst),consolidated.amount*-1,
        consolidated.amount)

        consolidated = consolidated[['firm_id',"name","email","phone_number", 'city_of_residence','data_id','amount','currency',
                                'transaction_date','account','reason_name','description', 'file',"week","amount1"]]
        return consolidated
        consolidated.head()

In [88]:


all_city_data = []
def file1(files,data):
   return [i for i in data if files in i]

for city in os.listdir("Datafiles/Cities"):
    data = list(os.listdir("Datafiles/Cities/"+city+"/Datafiles/")) #take the path: Datafiles -> Cities folder -> Actual city -> in the Datafiles folder of the specific city
    income = file1("Income",data)[0]
    income = pd.read_excel(f"Datafiles/Cities/{city}/Datafiles/{income}",sheet_name = 'Income Reports')
    income["firm_id"] = income["Respondent ID"]
    expense = file1("Expense",data)[0]
    expense = pd.read_excel(f"Datafiles/Cities/{city}/Datafiles/{expense}", sheet_name = 'Expense Reports');print("Expense:",expense.shape)
    acc = file1("Account",data)[0]
    savings = pd.read_excel(f"Datafiles/Cities/{city}/Datafiles/{acc}", sheet_name = 'Account Reports');print("Savings:",savings.shape)
    lt = file1("Loan Taken",data)[0]
    repayments = pd.read_excel(f"Datafiles/Cities/{city}/Datafiles/{lt}", sheet_name = 'Loan Repayment Reports');print("Loan taken repayments",repayments.shape)
    gv = file1("Loan Given",data)[0]
    given = pd.read_excel(f"Datafiles/Cities/{city}/Datafiles/{gv}", sheet_name = 'Loan given repayments');print("Loan given repayments",given.shape)
    #employee = payments = pd.read_excel(datadir +f'/Employee Report - {report_date}.xlsx',sheet_name = 'Employee payments');print("Employee repayments",employee.shape)
    taken = pd.read_excel(f"Datafiles/Cities/{city}/Datafiles/{lt}", sheet_name = "Loan's Taken");print("loan_taken:",taken.shape);print('loantaken:',taken.shape)
    lgiven = pd.read_excel(f"Datafiles/Cities/{city}/Datafiles/{gv}",sheet_name = "Loans given");print("loan given:",lgiven.shape)
    con = consolidator_city();print(f"Consolidated data for {city}",con.shape) 
    con["city"] = city
    all_city_data.append(con) 
    print(f"................................................Finished consolidating data for city...{city}")
    
Final_consolidation = pd.concat(all_city_data)
Final_consolidation["Year"] = [i.year for i in Final_consolidation["transaction_date"]]



Final_consolidation.to_excel("Outputs/MasterFileMerged_Made_15_09_2022.xlsx")

Expense: (15788, 28)
Savings: (4801, 23)
Loan taken repayments (21, 23)
Loan given repayments (0, 23)
loan_taken: (18, 30)
loantaken: (18, 30)
loan given: (0, 29)
Normalized income shape:(9999, 21)
Normalized expense shape:(15788, 21)
Normalized savings shape:(4801, 17)
Normalized loans_taken_repayment_repayments shape:(21, 17)
Normalized loans_given_repayment_repayments shape:(0, 17)
(30609, 21)
Normalized Loan taken shape:(12, 19)
Consolidated data for Bulawayo (30621, 15)
................................................Finished consolidating data for city...Bulawayo
Expense: (5309, 35)
Savings: (359, 23)
Loan taken repayments (8, 23)
Loan given repayments (0, 23)
loan_taken: (1, 30)
loantaken: (1, 30)
loan given: (0, 29)
Normalized income shape:(724, 21)
Normalized expense shape:(5309, 21)
Normalized savings shape:(359, 17)
Normalized loans_taken_repayment_repayments shape:(8, 17)
Normalized loans_given_repayment_repayments shape:(0, 17)
(6400, 21)
Normalized Loan taken shape:(1, 19)
Consolidated data for Gweru (6401, 15)
................................................Finished consolidating data for city...Gweru
Expense: (6848, 35)
Savings: (317, 23)
Loan taken repayments (19, 23)
Loan given repayments (0, 23)
loan_taken: (3, 30)
loantaken: (3, 30)
loan given: (0, 29)
Normalized income shape:(12946, 21)
Normalized expense shape:(6848, 21)
Normalized savings shape:(317, 17)
Normalized loans_taken_repayment_repayments shape:(19, 17)
Normalized loans_given_repayment_repayments shape:(0, 17)
(20130, 21)
Normalized Loan taken shape:(3, 19)
Consolidated data for Mutare (20133, 15)
................................................Finished consolidating data for city...Mutare

In [70]:
os.listdir("Datafiles/Cities")

['Bulawayo', 'Gweru', 'Mutare']

In [40]:
data[0]

'Account Report - Bulawayo Mon Aug 29 2022.xlsx'

In [41]:
data[1]

'Expense Report - Bulawayo  Mon Aug 29 2022.xlsx'

In [63]:
data[2]

'Income Report -Bulawayo Mon Aug 29 2022.xlsx'

In [64]:
data[3]

'Loan Given Report - Bulawayo Mon Aug 29 2022.xlsx'

In [65]:
data[4]

'Loan Taken Report - Bulawayo Mon Aug 29 2022.xlsx'

In [89]:
Final_consolidation.head()

,firm_id,name,email,phone_number,city_of_residence,data_id,amount,currency,transaction_date,account,reason_name,description,file,week,amount1,city,Year
0,384929,Sangare,re1@xmail.com,4313,NaN,IN00077319,2000,XOF,2021-01-11,NaN,Vente Nourriture,NaN,income,Week 2,2000,Bulawayo,2021
1,384929,Sangare,re1@xmail.com,4313,NaN,IN00077320,3000,XOF,2021-01-12,NaN,Vente Nourriture,NaN,income,Week 2,3000,Bulawayo,2021
2,384929,Sangare,re1@xmail.com,4313,NaN,IN00079538,3000,XOF,2021-01-12,NaN,Vente Nourriture,NaN,income,Week 2,3000,Bulawayo,2021
3,384929,Sangare,re1@xmail.com,4313,NaN,IN00079539,3500,XOF,2021-01-13,NaN,Vente Nourriture,NaN,income,Week 2,3500,Bulawayo,2021
4,384929,Sangare,re1@xmail.com,4313,NaN,IN00077321,2700,XOF,2021-01-13,NaN,Vente Nourriture,NaN,income,Week 2,2700,Bulawayo,2021

In [90]:
Final_consolidation.tail()

,firm_id,name,email,phone_number,city_of_residence,data_id,amount,currency,transaction_date,account,reason_name,description,file,week,amount1,city,Year
17,260344,Linda,NaN,NaN,NaN,LP00005556,18000,ZWL,2022-06-05,Keeping Money At Home,Heidi Mufukuri,NaN,loans_taken_repayment,Week 22,-18000,Mutare,2022
18,262026,Saviour,NaN,NaN,NaN,LP00005550,10000,ZWL,2022-06-04,Keeps money at home,Business loan,NaN,loans_taken_repayment,Week 22,-10000,Mutare,2022
0,254738,Mary,a0@xmail.com,NaN,Mutare,LT00000557,240000,NaN,2019-10-10,NaN,Zimbank,NaN,loans_taken,Week 41,240000,Mutare,2019
1,260344,Linda,NaN,NaN,Mutare,LT00000556,22500,NaN,2019-08-01,NaN,Heidi Mufukuri,NaN,loans_taken,Week 31,22500,Mutare,2019
2,262026,Saviour,NaN,NaN,Mutare,LT00004284,25000,NaN,2022-03-11,NaN,Business loan,NaN,loans_taken,Week 10,25000,Mutare,2022